# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64

dash=2.0.0=pypi_0
dash-core-components=2.0.0=pypi_0
dash-html-components=2.0.0=pypi_0
dash-table=5.0.0=pypi_0
gunicorn=20.1.0=pypi_0
numpy=1.20.3=py39ha4e8547_0
numpy-base=1.20.3=py39hc2deb75_0
 
pandas=1.3.2=py39h6214cd6_0
 
pickleshare=0.7.5=pyhd3eb1b0_1003
pillow=8.3.1=py39h4fa10fc_0
pip=21.2.4=py38haa95532_0
plotly=5.3.1=pypi_0
 
python=3.9.7=h6244533_1
python-dateutil=2.8.1=py_0
python_abi=3.9=2_cp39
 
scikit-learn=0.23.2=py39he931e04_3
scipy=1.7.1=py39hbe87c03_2
 